// Font colors
$font-color-main: white;

// Font size
$font-body-size: 20px;
$font-big-title: 2em;
$font-title: 1.75em;
$font-nav: 0.8em;
$font-link: 0.7em;
$font-normal: 0.6em;
$font-small: 0.4em;

// Line height
$lh-body: 1.2;
$lh-big-title: 1.5;
$lh-title: 1.35;
$lh-nav: 1.1;
$lh-link: 1.5;
$lh-normal: 1.4;
$lh-small: 1;

// Font weight
$lw-link: 600;

// Layers

$root: 0;
$layer-1: 1;
$layer-2: 2;
$layer-3: 3;
$layer-4: 4;
$layer-5: 5;
$layer-6: 6;
