#app {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    background: rgba(34, 34, 34, 0.5);
    // background: linear-gradient(180deg, rgba(34,34,34,1) 0%, rgba(34,34,34,0.8) 50%, rgba(34,34,34,1) 100%);
}